<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div *ngIf='rest'>
        <h3>Reviews for {{rest.name}}</h3>
        <button [routerLink]="['/new/review', rest._id]">New Review</button>
        <table>
            <tr>
            <th>Customer</th>
            <th>Stars</th>
            <th>Description</th>
            </tr>
            <tr *ngFor='let r of rest.reviews'>
                <th>{{r.customer}}</th>
                <th>{{r.stars}}</th>
                <th>{{r.description}}</th>
            </tr>
        </table>
    </div>
</body>
</html>
